{% extends 'base.html.twig' %}
{% block title %}Alle Umfragen - {% endblock %}
{% block body %}
    <div class="card px-0">
        <div class="card-body bg-danger text-white">
            <p class="card-text">
                Aktuelle Umfragen
            </p>
        </div>
        <div class="list-group list-group-flush">
            {% for survey in surveys %}
                {% if date("now") > date(survey.start)  and date("now") < date(survey.end) %}
                    <a href="{{ path('survey_show',{'id':survey.id}) }}" class="list-group-item list-group-item-action">
                        {{ survey.title }}
                        <div class="small text-muted">gültig bis: {{ survey.end|date('d.m.Y') }}</div>
                    </a>

                    {% else %}
                        <span class="list-group-item disabled">
                            {{ survey.title }}
                            <div>gültig von: {{ survey.start|date('d.m.Y') }} - {{ survey.end|date('d.m.Y') }}</div>
                        </span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="card-footer">
            Surveys
        </div>
    </div>
{% endblock %}