{% extends 'base.html.twig' %}

{% block body %}
    <div class="card px-0">
        <div class="card-body bg-danger text-white">
            <p class="card-text d-flex justify-content-between align-items-center">
                <a href="{{ path('app_index') }}" class="btn btn-sm btn-dark">Zurück</a>
                {{ survey.title }}
                <span></span>
            </p>
        </div>
        <div class="card-body">
            <form class="container needs-validation" method="post" novalidate>
            {% for line in survey.surveyLines %}
                {% if line.answers|length > 1 %}
                    <div class="row mb-3">
                        <label class="form-label required" for="{{ line.question.slug }}">
                            {{ line.title }}
                        </label>
                        <div class="col">
                            <select id="{{ line.question.slug }}" required name="{{ line.question.slug }}" class="form-select">
                                <option value="" selected="selected">--</option>
                                {% for option in line.answers %}
                                    <option  value="{{ option.answer }}">{{ option.answer }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% else %}
                    <div class="row mb-3">
                        <label class="form-label required" for="{{ line.question.slug }}">
                            {{ line.title }}
                        </label>
                        <div class="col">
                            <input id="{{ line.question.slug }}" required class="form-control" type="text" name="{{ line.question }}" placeholder="{{ line.question }}">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Absenden</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-end">
            Umfrage vom {{ survey.created|date('d.m.Y') }} <small>(aktualisiert am {{ survey.updated|date('d.m.Y') }})</small>
        </div>
    </div>
{% endblock %}